.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--palette1);
    height: 100vh;

    h1 {
        font-size: 3rem;
    }

    h1, a {
        color: var(--palette2);
    }

    a {
        text-align: center;

        span {
            color: var(--palette4);
        }

        &:hover {
            color: var(--palette2-variant);

            span {
                color: var(--palette5-variant);
            }
        }
    }

}




.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 1rem;
    gap: 1rem;
    width: 80vw;

    input {
        padding: 1rem;
        width: 40vw;
        font-size: 1.4rem;
        background-color: var(--palette3);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        color: var(--palette2);

        &::placeholder {
            color: var(--palette2-variant)
        }
    }

    button {
        width: 40vw;
        padding: 1rem;
        font-size: 1.4rem;
        border-radius: var(--radius);
        background-color: var(--palette4);
        color: var(--palette2);
        box-shadow: var(--shadow);
        transition: background-color ease-in .3s;

        &:hover {
            background-color: var(--palette4-variant);
        }
    }

    @media(max-width: 800px) { 
        width: 100%;
        input, button {
            width: 100%;
        }
    }
}

    