@import "../../styles/functions";
@import "../../styles/variables";

.container {
    @include flex(column, center, center);
    background-color: $palette1;
    height: 100vh;

    h1 {
        font-size: 3rem;
    }

    h1, a {
        color: $palette2;
    }

    a {
        text-align: center;

        span {
            color: $palette4;
        }

        &:hover {
            color: $palette2-variant;

            span {
                color: $palette5-variant;
            }
        }
    }

}




.form {
    @include flex(column, center, none);
    margin-top: 40px;
    padding: 1rem;
    gap: 1rem;
    width: 80vw;

    input {
        padding: 1rem;
        width: 40vw;
        font-size: 1.4rem;
        background-color: $palette3;
        border-radius: $radius;
        box-shadow: $shadow;        
        color: $palette2;

        &::placeholder {
            color: $palette2-variant;
        }
    }

    button {
        width: 40vw;
        padding: 1rem;
        font-size: 1.4rem;
        border-radius: $radius;
        background-color: $palette4;
        color: $palette2;
        box-shadow: $shadow;
        transition: background-color ease-in .3s;

        &:hover {
            background-color: $palette4-variant;
        }
    }

    @media(max-width: 800px) { 
        width: 100%;
        input, button {
            width: 100%;
        }
    }
}

    