@import "../../styles/functions";
@import "../../styles/variables";

.content {
    @include flex(column, center, center);
    @include space(0 0 0 200px, 10px, 0);
    min-height: 100vh;

    @media(max-width: 800px){
        @include space(0, 0, 0);
        background-color: $palette2-variant;
    }
}

.containerLight {
    & > div:nth-child(2) {
        background-color: $palette2;
    }

}

.containerDark {
    & > div:nth-child(2) {
        background-color: $palette5;

        h1 {
            color: $palette2;
        }

        a {
            svg {
                background-color: $palette4;
            }
        }
    }
}

.pub {
    @include flex(row, center, space-between);
    width: 100%;

    a {
        position: fixed;
        right: 30px;
        top: 20px;
        
        svg {
            background-color: $palette1;
            border-radius: $radius;
        }
    }
}