.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
    margin-left: 200px;

    @media(max-width: 800px){
        margin-left: 0;
        padding: 0;
        background-color: var(--palette2-variant);
    }
}