@import "../../styles/functions";
@import "../../styles/variables";

.content {
    @include flex(column, flex-start, none);
    @include space(0 0 0 200px, 10px, 0);
    height: 100vh;

    @media(max-width: 800px){
        @include space(0, 0, 0);
        background-color: $palette2-variant;
    }
}

.containerPost {
    @include flex(row, flex-start, none);
    @include space(50px 0, 10px, 20px);
    @include size(100%, 100%);
    flex-wrap: wrap;
}

.containerLight {
    & > div:nth-child(2) {
        background-color: $palette2;
    }

}

.containerDark {
    & > div:nth-child(2) {
        background-color: $palette5;

        h1 {
            color: $palette2;
        }

        a {
            svg {
                background-color: $palette4;
            }
        }
    }
}

.pub {
    @include flex(row, center, space-between);
    margin-left: 10px;
    width: 100%;

    a {
        position: fixed;
        transition: all ease-in .3s;
        right: 30px;
        top: 20px;

        &:hover {
            transform: scale(1.3);
        }
        
        svg {
            background-color: $palette1;
            border-radius: $radius;
        }
    }
}