@import "../../styles/functions";
@import "../../styles/variables";

.switchButton {
  content: "";
  @include size(20px, 20px);
  @include border-shadow(20px, 0 0 2px 0 rgba(10, 10, 10, 0.29));
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.2s;
  background-color: $palette2;
}


.switchLabel {
  @include flex(row, center, space-between);
  @include size(25px, 50px);
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.2s;

  &:active > button {
    width: 35px;
  }
}


.switchInput{
  @include size(0, 0);
  visibility: hidden;

  &:checked + label span {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
}
