@import "../../styles/functions";
@import "../../styles/variables";

.content {
    @include flex(column, center, center);
    @include space(0 0 0 200px, 5px 15px, 0);
    height: 100vh;

    h1{
        font-weight: normal;
        font-size: 5rem;
    }

    @media(max-width: 800px){
        @include space(0, 0, 0);
    }
}

.containerLight {
    background-color: $palette2;

    h1 {
        color:$palette1;
    }

    form {
        
        label {
            color: $palette1;

            & > label {
                background-color: $palette3 !important;
            }
        } 

        input:disabled, input:disabled::placeholder{
            color:  $palette1-variant;
        }

        input {
            border-bottom: 2px solid $palette1;
            color: $palette1;
    
            &::placeholder{
                color: $palette1-variant;
            }
        }

        button {
            background-color:  $palette3;

            &:hover {
                background-color: $palette3-variant;
            }
        }
    }
    
}

.containerDark {
    background-color: $palette5;

    h1 {
        color:$palette2;
    }

    form {

        label {
            color: $palette2;

            & > label {
                background-color: $palette4 !important;
            }
        } 


        input:disabled, input:disabled::placeholder{
            color:  $palette2-variant;
        }

        input {
            border-bottom: 2px solid $palette2;
            color: $palette2;
    
            &::placeholder{
                color: $palette2-variant;
            }
        }

        button {
            background-color:  $palette4;
            border-radius: $radius;

            &:hover {
                background-color: $palette4-variant;
            }
        }
    }
}   

.form {
    @include flex(column, center, center);
    gap: 20px;

    & > label{
        @include flex(row, center, center);
        background-color: transparent;
        gap: 20px;
    }


    label > svg, img{
        margin-bottom: 10px;
    }

    img {
        background-color: white;
        filter: drop-shadow(2px 3px 6px #121212);
        border: 1px solid $palette5;
    }

    input:disabled, input:disabled::placeholder{
        cursor: not-allowed;
        text-decoration: line-through;
    }  

    input {
        padding: 10px;
        font-size: 1.2rem;
        background-color: transparent;
    }
}

.labelAvatar {
    @include flex(column, center, center);
    cursor: pointer;

    input{
        display: none;
    }

    img{
        border-radius: 50%;
        object-fit: cover;
        background-color: white;
    }

    span{
        position: absolute;
        z-index: 99;
        opacity: .7;
        transition: all .5s;

        &:hover{
            opacity: 1;
            transform: scale(1.4);
        }
    }
}

.buttonProfile {
    color: $palette2;
    border-radius: $radius;
    width: 100%;
    box-shadow: $shadow;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}