.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 200px;
    padding: 5px 15px;

    h1{
        font-weight: normal;
        font-size: 5rem;
    }

    @media(max-width: 800px){
        margin-left: 0;
        padding: 0;
    }
}

.containerLight {
    background-color: var(--palette2);

    h1 {
        color:var(--palette1);
    }

    form {
        
        label {
            color: var(--palette1);

            & > label {
                background-color: var(--palette3) !important;
            }
        } 

        input:disabled, input:disabled::placeholder{
            color:  var(--palette4-variant);
        }

        input {
            border-bottom: 2px solid var(--palette1);
            color: var(--palette1);
    
            &::placeholder{
                color: var(--palette1-variant);
            }
        }

        button {
            background-color:  var(--palette3);

            &:hover {
                background-color: var(--palette3-variant);
            }
        }
    }
    
}

.containerDark {
    background-color: var(--palette5);

    h1 {
        color:var(--palette2);
    }

    form {

        label {
            color: var(--palette2);

            & > label {
                background-color: var(--palette4) !important;
            }
        } 


        input:disabled, input:disabled::placeholder{
            color:  var(--palette2-variant);
        }

        input {
            border-bottom: 2px solid var(--palette2);
            color: var(--palette2);
    
            &::placeholder{
                color: var(--palette2-variant);
            }
        }

        button {
            background-color:  var(--palette4);
            border-radius: var(--radius);

            &:hover {
                background-color: var(--palette4-variant);
            }
        }
    }
}   

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    & > label{
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 20px;
    }


    label > svg, img{
        margin-bottom: 10px;
    }

    input:disabled, input:disabled::placeholder{
        cursor: not-allowed;
        text-decoration: line-through;
    }  

    input {
        padding: 10px;
        font-size: 1.2rem;
        background-color: transparent;
    }
}

.labelAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    input{
        display: none;
    }

    img{
        border-radius: 50%;
        object-fit: cover;
        background-color: white;
    }

    span{
        position: absolute;
        z-index: 99;
        opacity: .7;
        transition: all .5s;

        &:hover{
            opacity: 1;
            transform: scale(1.4);
        }
    }
}

.buttonProfile {
    color: var(--palette2);
    border-radius: var(--radius);
    width: 100%;
    box-shadow: var(----shadow);
    padding: 10px;
    font-size: 1.2rem;
}