$palette1: #55917F;
$palette1-variant: #899994;
$palette2: #FFFBFA;
$palette2-variant: #d4d4d4;
$palette3: #4FB477;
$palette3-variant: #3f865b;
$palette4: #02121f;
$palette4-variant: #073253;
$palette5: #000;
$palette5-variant: #0f0f0f;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$radius: 5px;