
:root{
    --palette1: #55917F;
    --palette1-variant: #899994;
    --palette2: #FFFBFA;
    --palette2-variant: #d4d4d4;
    --palette3: #4FB477;
    --palette3-variant: #3f865b;
    --palette4: #364958;
    --palette4-variant: #26323b;
    --palette5: #262626;
    --palette5-variant: #202020;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --radius: 5px;
}

/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

input, button{
    border: none;
}

button, a{
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

html, body, #root{
    overflow-x: hidden;
    height: 100%;
}