
/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

input, button{
    border: none;
}

button, a{
    cursor: pointer;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

html, body, #root{
    overflow-x: hidden;
    height: 100%;
}