.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    width: 100%;

    a {
        display: flex;
        justify-content: center;
        width: 30%;
        padding: .5rem;
        font-size: 1.3rem;
        border-radius: var(--radius);
        color: var(--palette2);
        box-shadow: var(--shadow);
        transition: all ease-in .3s;
    }

    @media(max-width: 800px) {
        flex-direction: column;

        a {
            width: 100%;
        }
    }
}

.darkTitle {
    color: var(--palette2);
}

.darkButton {
    background-color: var(--palette4);

    &:hover {
        background-color: var(--palette4-variant);
    }
}

.whiteButton {
    background-color: var(--palette5);

    &:hover {
        background-color: var(--palette5-variant);
    }
}

.whiteTitle {
    color: #000 !important;
}


.back {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;

    @media(max-width: 800px) {
        flex-direction: column;

        a {
            width: 100%;
        }
    }
}
