@import "../../styles/functions";
@import "../../styles/variables";

.content {
    @include space(0 0 0 200px, 10px 15px, 0);
    height: 100vh;

    @media(max-width: 800px){
        @include space(0, 0, 0);
        
        h1 {
            text-align: center;
        }
    }
}

.containerLight {
    & > div:nth-child(2) {
        background-color: $palette2;

        h1 {
            color: black;
        }
    }

}

.containerDark {
    & > div:nth-child(2) {
        background-color: $palette5;

        h1 {
            color: $palette2;
        }

    }
}