@import "../../styles/variables";
@import "../../styles/functions";

.dark {
    background-color:  $palette4;
}

.light {
    background-color:  $palette1;
}

.sidebar {
    @include flex(column, center, space-around);
    @include size(100%, 200px);
    position: fixed;
    padding: 10px;

    & > a {
        @include flex(row, center, center);

        svg {
            transition: all .3s ease-in;
            &:hover {
                color: $palette2-variant !important;
            }
        }

        img {
            background-color: white;
            filter: drop-shadow(2px 3px 6px #121212);
            border: 1px solid $palette5;
        }
    }

    & > svg:nth-child(2) {
        display: none;
    }

    img {
        object-fit: cover;
        border-radius: 50%;
    }

    @media(max-width: 800px) {
        width: 100%;
        position: relative;
        align-items: flex-end;
        height: auto;

        & > a, svg {
            display: none;
        }

        svg:nth-child(2){
            display: block;
            cursor: pointer;
        }
    }
}

.menu {
    @include flex(column, center, space-between);

    @media(max-width: 800px) {
        position: absolute;
        justify-content: center;
        overflow: hidden;
        z-index: 99;
        top: 45px;
        transform: translateX(3.5%);
        transition: all .4s ease-in;
        align-items: center;
        background-color:  $palette1;
        width: 100%;    

        span {
            text-align: center;
        }
    }
}


.menuChecked {
    @media(max-width: 800px) {
        transform: translateX(120%);
    }    
}

.groupLink {
    @include flex(row, center, none);
    @include space(0, 10px, 10px);
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    transition: all .3s ease-in;
    color: white !important; 
    background-color: transparent;

    span {
        flex: 1;
    }

    &:hover {
        color: $palette2-variant !important;
    }

    @media(max-width: 800px) {
        justify-content: center;
    }
}