@import "../../styles/functions";
@import "../../styles/variables";

.content {
    @include flex(row, center, center);
    height: 100vh;
    padding: 10px 15px;
    background-color: $palette2;

    @media(max-width: 800px){
        @include space(0, 0, 0);
    }
}

.containerLight {
    & > div:nth-child(2) {
        background-color: $palette2;
    }

}

.containerDark {
    & > div:nth-child(2) {
        background-color: $palette5;

        form {
            background-color:  $palette4;
            
            button {
                background-color: $palette5;
                &:hover {
                    background-color: $palette5-variant;
                }
            }
        }
    }
}

.forms {
    @include flex(column, center, center);
    @include space(3rem 0 0 0, 15px, 10px);
    width: 60%;
    border-radius: $radius;
    background-color: $palette1;

    h2 {
        font-size: 2rem;
        text-align: center;
        color: #fff;
    }

    input, select {
        width: 80%;
        font-size: 1.4rem;
        padding: 10px;
        box-shadow: $shadow;
        border-radius: $radius;    }


    input {
        &::placeholder {
            color: $palette2-variant;
        }
    }

    @media(max-width: 800px) {
        width: 100%;
        margin-top: .5rem;
        border-radius: 0;
        
    }
}

.labelFile {
    @include flex(row, center, space-between);
    width: 80%;
    font-size: 1.4rem;
    color: $palette2;
    cursor: pointer;

    &:hover > svg {
        opacity: 1;
        transform: scale(1.4);
    }

    input[type='file'] {
        display: none;
    }

    svg {
        opacity: .7;
        transition: all .5s;
    }

}

.buttons {
    @include flex(row, center, center);
    width: 100%;
    gap: 10px;

    a, button {
        @include size(8vh, 30%);
        font-size: 1.4rem;
        padding: 10px;
        box-shadow: $shadow;
        border-radius: $radius;
    }

    a {
        @include flex(row, center, center);
        color: $palette2;
        border: 1px solid $palette2;
        transition: background-color ease-in .3s;

        &:hover {
            color: $palette2-variant;
            border-color: $palette2-variant;
        }
    }

    button {
        background-color: $palette4;
        color: $palette2;
        transition: background-color ease-in .3s;

        &:hover {
            background-color: $palette4-variant;
        }
    }
}