@import "../../styles/functions";
@import "../../styles/variables";

.public {
    @include flex(column, center, center);
    overflow: hidden;
    padding: 10px;
    width: 80%;

    @media(max-width: 800px) {
        width: 100%;
        padding: 0;
    }
}

.headerContent {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;

    @media(max-width: 800px) {
        width: 100%;
    }
}

.user {
    @include flex(row, center, none);
    @include space(0, 10px, 10px);
    width: 100%;
    background-color: $palette2;
}

.image {
    width: 50%;
    a {
        background-color: $palette2;
        img {
            object-fit: contain;
            @include size(100%, 100%);
            background-color: $palette2-variant;
            background-color: $palette2;
        }
    }

    @media(max-width: 800px) {
        width: 100%;
    }
}

.footer {
    @include flex(row, center, none);
    padding: 10px;
    width: 100%;
    background-color: $palette2;

    svg {
        cursor: pointer;
    }
}

.comment {
    @include flex(row, center, center);
    width: 100%;

    textarea {
        padding-top: 20px;
        padding-left: 10px;
        border: 0;
        resize: none;
        border-radius: $radius;
        font-size: 1.2rem;
        width: 100%;
    }

    svg {
        position: relative;
        cursor: pointer;
    }
}