@import "../../styles/functions";
@import "../../styles/variables";

.carrosel {
    @include flex(row, center, none);
    scroll-behavior: smooth;
    width: 80vw;
    overflow-x: auto;

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    @media(max-width: 800px) {
        width: 100vw;
    }

}

.rectangle {
    @include size(250px, 200px);
    @include space(10px, 0px, 0);
    @include border-shadow(10px, 10px);
    flex: none;


    span {
        border-radius: 10px 10px 0 0;
        display: block;
        text-align: center;
        padding: 10px;
        width: 100%;
        color: $palette2;
        opacity: .7;
        font-size: 1.2rem;
        transition: all ease-in .3s;
        
    }

    &:hover span {
        opacity: 1;
        transform: scale(1.2);
    }
    

}
