@import "../../styles/functions";
@import "../../styles/variables";

.carrosel {
    @include flex(row, center, none);
    margin-top: 9rem;
    scroll-behavior: smooth;
    overflow-x: auto;

    &::-webkit-scrollbar{
        display: none;
    }

    @media(max-width: 800px) {
        margin-top: 3rem;
    }
}

.rectangle {
    @include size(300px, 250px);
    @include space(10px, 10px, 0);
    @include border-shadow(10px, 10px);
    flex: none;

    a {
        background-color: red !important;
        width: 100px !important;
    }

    span {
        color: white;
    }

}

.buttons {
    @include flex(row, center, space-between);
    position: absolute;
    width: 83%;

    button{
        background-color: transparent;
    }

    @media(max-width: 900px){
        gap: 60%;
    }
}